{% extends 'blog/base.html' %}

{% block title %}About{% endblock %}

{% block body_block %}

    <div class="mt-5 m-auto col-lg-8 about">
        <h1 class="my-4 fw-bold">About</h1>
        <p>FilmFilmFilm is a project started by EHU students that collects cinema-related articles created by team and community.
        All kinds of film analysis and critics, movie recommendations, posts about directors, 
        genres and specific styles can be found in their blog. This website is made with Django and Bootstrap in learning purposes. 
        It contains articles written by me, more can be found on <a href='http://fffilm.net/' id="fffLink">FFF! Website</a>.</p>
    </div>

{% endblock %}